html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgba(255,255,255,1);
    background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(255,255,255,1)), color-stop(47%, rgba(246,246,246,1)), color-stop(100%, rgba(214,214,214,1)));
    background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -o-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(246,246,246,1) 47%, rgba(214,214,214,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#d6d6d6', GradientType=1 );
}

body {
    box-sizing: border-box;
}
.container {
    margin: 50px auto;
    width: 360px;
    height: 740px;
    border-radius: 30px;
    background: #fffefe;
    -webkit-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    -moz-box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    box-shadow: 3px 6px 16px -4px rgba(0,0,0,0.63);
    overflow: hidden;
    border-top: 40px solid #1c1c1c;
    border-bottom: 30px solid  #1c1c1c;
    border-left: 4px solid #1c1c1c;
    border-right: 4px solid  #1c1c1c;
}
#img {
    margin: 40px auto;
    width: 250px;
    height: 250px;
    background: rgb(228, 227, 227);
}
p {
    display: inline-block;
    background: rgb(228, 227, 227);
    margin: 7px 35px;
    color: rgb(228, 227, 227);
}
.share {
    margin: 0 10px 0 30px;
    display: flex;
    align-items: center;
}
span {
    font-size: 12px;
    color: rgb(139, 139, 139);
}
.share-btn {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn1, .btn2, .btn3, .btn4, .btn5 {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 5px;
    background: rgb(228, 227, 227);
    margin: 0 5px;
    cursor: pointer;
    transition: 0.2s;
}
.btn1:hover {
    transform: scale(1.2);
    background: #3b5998;
    color: white;
    transition: 0.1s;
}
.btn2:hover {
    transform: scale(1.2);
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    transition: 0.1s;
}
.btn3:hover {
    transform: scale(1.2);
    background: #00aced;
    color: white;
    transition: 0.1s;
}
.btn4:hover {
    transform: scale(1.2);
    background: #0e76a8;
    color: white;
    transition: 0.1s;
}
.btn5:hover {
    transform: scale(1.2);
    background: #1c1c1c;
    color: white;
    transition: 0.1s;
}
i {
    font-size: 30px;
    color: rgb(161, 161, 161);
    padding: 12px;
    transition: 0.1s;
}
i:hover {
    color: white;
}
